<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>The Infinity Home Page</title>
</head>
<body>

    <h2>The Infinity Home Page - Yoohoo!</h2>
    <hr/>
    <p>Welcome to the Coding World!</p>

    <hr>

    <!--  Display username and role  -->
    <p>
        User: <span>[[${#authentication.principal.username}]]</span>
        <br><br>
        Roles: <span>[[${#authentication.authorities}]]</span>
    </p>

    <!--  Link to point to /leaders. For the managers  -->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Manager peeps)
    </p>

    <!--  Logout button  -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="logout"/>
    </form>
</body>
</html>